* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--nav-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    z-index: 1;
}

.main-nav img {
    max-width:  100px;
    margin-left: 20px;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.nav-links ul li {
    margin: 0 10px;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: var(--dark-mode);
}

.nav-links ul li::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    bottom: -5px;
    transition: width 0.5s ease-in-out;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.contact {
    background-color: var(--primary-color);
    color: var(--dark-mode);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .nav-links ul {
        display: none; 
    }

    .main-nav {
        justify-content: space-evenly;
    }

    .contact{
        display: none;
    }

    .main-nav{
        padding: 10px 18px;
    }

    .main-nav img {
        max-width: 150px;
    }
}

@media (max-width: 900px){
    .nav-links ul li{
        display: none;
    }
}