.vision{
    padding: 30px 40px;
    background-color: var(--nav-background);
}

.vision-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    background-color: var(--panel-color);
    padding: 20px 26px;
    border-radius: 15px;
}

.info-content img{
    max-width: 600px;
    border-radius: 15px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.text p{
    color: var(--white-shade);
    font-weight: 400;
}

.text h2{
    font-size: 3rem;
    font-weight: 500;
    color: var(--dark-mode);
}

.read-more{
    display: inline-block;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--dark-mode);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.read-more:hover{
    transform: scale(1.1);
}

@media (max-width: 900px){
    .info-content{
        display: flex;
        flex-direction: column;
    }

    .text h2{
        font-size: 2.3rem;
    }

    .text p{
        font-size: 1.2rem;
    }

    .info-content img{
        max-width: 260px;
    }
}