.subFooter{
    background-color: black;
    color: white;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subFooter h3{
    font-weight: 400;
    font-size: 18px;
}