.getTouch{
    background-image: url('../../assets/touch.webp');
    filter: brightness(0.8);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
    width: 100%;
}

.touch-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin-left: 40px;
    height: 100%;
    color: var(--dark-mode);
    text-align: left;
    font-size: 2rem;
}

.touch-text p{
    font-weight: 200;
}

.touch-text button{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--light-mode);
    background-color: var(--dark-mode);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.touch-text button:hover {
    background-color: var(--primary-color);
    color: var(--dark-mode);
    transform: scale(1.05);
}

.touch-text button:active {
    background-color: var(--primary-color);
    transform: scale(0.95);
}

@media (max-width: 900px){
    .touch-text{
        font-size: 1.5rem;
    }
    .touch-text p{
        font-size: 1.2rem
    }
}